/*
---------TOC---------

	1. General
	2. Header
	3. Slider
	4. Footer

--------------------
*/
/*
---------
General]
---------
*/
/*
--------
[HEADER]
--------
*/
/* line 9, C:/git/practica_home/scss/layout/_header.scss */
.header .logo {
  height: 6em;
  font-family: "Raleway", sans-serif;
  margin-top: 1.5em;
  margin-left: 2.5em;
}

/* line 16, C:/git/practica_home/scss/layout/_header.scss */
.header .logo h1 {
  font-weight: 600;
  border-bottom: 0.1em solid rgba(255, 230, 0, 0.897);
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  width: 5.5em;
}

/* line 24, C:/git/practica_home/scss/layout/_header.scss */
.header .logo h3 {
  color: #f8ba56c7;
}

/* line 31, C:/git/practica_home/scss/layout/_header.scss */
.header .menu-general {
  margin-top: 3em;
}

/* line 35, C:/git/practica_home/scss/layout/_header.scss */
.header .menu-general button {
  color: white !important;
  background-color: #f8b953de;
  border: none;
  border-radius: 0.4em;
  margin-right: 0.3em;
}

/* line 42, C:/git/practica_home/scss/layout/_header.scss */
.header .menu-general button:hover {
  background-color: #ffc970c7;
}

/* line 48, C:/git/practica_home/scss/layout/_header.scss */
.header .menu-general .menu-toggle {
  display: none;
}

/* line 52, C:/git/practica_home/scss/layout/_header.scss */
.header .menu-general #menu {
  width: 100%;
}

/* line 56, C:/git/practica_home/scss/layout/_header.scss */
.header .menu-general #btn-more {
  margin: 15px;
}

@media (max-width: 767px) {
  /* line 64, C:/git/practica_home/scss/layout/_header.scss */
  .header .logo h1 {
    font-size: 2em;
  }
}

/*----------------
-----[FOOTER]-----
----------------*/
/* Margen superior de los botones sociales */
/* line 6, C:/git/practica_home/scss/layout/_footer.scss */
.footer {
  margin-top: 5em;
}

/* espacio botones sociales  */
/* line 11, C:/git/practica_home/scss/layout/_footer.scss */
.sociales {
  margin-left: 3em;
}

/* line 15, C:/git/practica_home/scss/layout/_footer.scss */
.sociales a {
  font-size: 5em;
  margin-left: 1em;
}

/* color de los botones sociales */
/* line 23, C:/git/practica_home/scss/layout/_footer.scss */
.facebook {
  color: #0101DF;
}

/* line 28, C:/git/practica_home/scss/layout/_footer.scss */
.twitter {
  color: #00BFFF;
}

/* line 33, C:/git/practica_home/scss/layout/_footer.scss */
.google {
  color: #CB3B3B;
}

/* line 38, C:/git/practica_home/scss/layout/_footer.scss */
.linkedin {
  color: #2456D4;
}

/* line 43, C:/git/practica_home/scss/layout/_footer.scss */
.pinterest {
  color: #C02127;
}

/* estilo copyright */
/* line 49, C:/git/practica_home/scss/layout/_footer.scss */
.copyright {
  margin-top: 3em;
}

/*
--------
[SLIDER]
--------
*/
/* Estilo de la caja de la imagen*/
/* line 8, C:/git/practica_home/scss/components/_slider.scss */
.imgslider {
  border-radius: 7px;
  box-shadow: 0em 0em 20px grey;
  width: 100%;
}

/*descripcion del slider*/
/* line 16, C:/git/practica_home/scss/components/_slider.scss */
.descripcion {
  margin-top: 7em;
}

/* estilo de los botones menu y leer mas*/
/* line 24, C:/git/practica_home/scss/components/_slider.scss */
.slider-btn {
  margin-top: 2em;
  background-color: #f8b953de;
}

/* line 28, C:/git/practica_home/scss/components/_slider.scss */
.slider-btn:hover {
  background-color: #ffc970c7;
}

@media (max-width: 767px) {
  /* line 3, C:/git/practica_home/scss/layout/_breakpoints.scss */
  .logo h1 {
    font-size: 2em;
  }
  /* line 8, C:/git/practica_home/scss/layout/_breakpoints.scss */
  .botones {
    margin-top: 0.3em;
  }
  /* line 13, C:/git/practica_home/scss/layout/_breakpoints.scss */
  .navbar-light .navbar-toggler {
    position: absolute;
    z-index: 1000;
    top: 500;
    right: 5px;
  }
  /* line 21, C:/git/practica_home/scss/layout/_breakpoints.scss */
  .imgslider {
    height: auto;
    width: 100%;
  }
  /* line 27, C:/git/practica_home/scss/layout/_breakpoints.scss */
  .contenido {
    margin-top: 30px;
  }
  /* line 32, C:/git/practica_home/scss/layout/_breakpoints.scss */
  .descripcion {
    margin-top: 2em;
  }
  /* line 36, C:/git/practica_home/scss/layout/_breakpoints.scss */
  .details {
    width: 100%;
  }
  /* line 40, C:/git/practica_home/scss/layout/_breakpoints.scss */
  .hide {
    display: none;
  }
  /* line 44, C:/git/practica_home/scss/layout/_breakpoints.scss */
  .menu-toggle {
    display: block !important;
  }
}

/*# sourceMappingURL=../css/menu.map */