/*----------------
-----[HEADER]-----
----------------*/


/* fuentes del logo*/
@import url('https://fonts.googleapis.com/css?family=Raleway');


/* contenedor del logo */
.logo{
    height:6em;
    font-family: 'Raleway', sans-serif;
    margin-top:1.5em;
    margin-left:2.5em;

}

.logo h1{
    font-weight: 600;
    border-bottom: 0.1em solid rgba(255, 230, 0, 0.897);
    margin-bottom:0.5em;
    padding-bottom:0.5em;
    width:5.5em;

}

.logo h3{
    color:#f8ba56c7;
}


/* estilo menu */
.menu-general{
    margin-top:3em;

}

/* estilo de los botones*/
.botones{
    color:white !important;
    background-color:#f8b953de;
    border:none;
    border-radius:0.4em;
    margin-right:0.3em;
    position: relative;
    top: 3em;
    
}

.botones:hover{
    background-color:#ffc970c7;

}

.menu-toggle{
    display:none;

}

#menu{
    width:100%;
    position: relative;
    top: 2em;
}

#btn-more{
    margin:15px;
}


/*----------------
-----[SLIDER]-----
----------------*/

/* Estilo de la caja de la imagen*/
.imgslider{
    border-radius:7px;
    box-shadow: 0em 0em 20px grey;
    width:100%;

}

/*descripcion del slider*/

.descripcion{
    margin-top:7em;
}

/* boton slider leer mas*/
.slider-btn{
    margin-top:2em;
    background-color:#f8b953de;
   
}

.slider-btn:hover{
    background-color:#ffc970c7;
   
}


/*----------------
-----[FOOTER]-----
----------------*/

/* Margen superior de los botones sociales */
.footer {
    margin-top:5em;
}

/* espacio botones sociales  */
.sociales{
    margin-left:3em

}

/* estilo botones sociales */

.sociales a{
    font-size:5em;
    margin-left:1em;

 }

/* colores de los botones sociales */

.facebook{
    color:#0101DF;

}

.twitter{
    color:#00BFFF;

}

.google{
    color:#CB3B3B;

}

.linkedin{
    color:#2456D4;

}

.pinterest{
    color:#C02127;

}

/* estilo copyright */

.copyright{
    margin-top:3em;

}


/*----------------
-----[FORMULARIO]---
----------------*/


.errors-container{
    background-color: hsl(0, 55%, 66%);
    border: 0.1em solid hsl(0, 55%, 58%);
    color: hsl(0, 0%, 100%);
    margin-bottom: 1em;
    width: 100%;
}

.errors-container ul{
    margin: 1em;
}

.errors-container.hidden{
    display: none;
}

.success-container{
    background-color: hsl(138, 59%, 45%);
    border: 0.1em solid hsl(96, 75%, 33%);
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 50vh;
    left: 35%;
}

.success-container h1{
    font-size: 2em;
    padding: 1em;
}

.success-container.hidden{
    display: none;
}

.input-error {
    color: hsl(0, 100%, 50%);
}




/*----------------
-----[FORMULARIO]---
----------------*/


/* ------------
[MEDIA QUERIES]
--------------*/


@media  (max-width:991px){

    .logo h1 {
        font-size:2em;

    }
    
    .botones {
        margin-top:0.3em;

    }

    .navbar-light .navbar-toggler {
        position:absolute;
        z-index:1000;
        top:500;
        right:5px;
        
    }
   
    .imgslider{      
        height:auto;
        width:100%;

    }

    .contenido{
        margin-top:30px;
    
    }

    .descripcion{
        margin-top:2em;
    }

    .details{
        width:100%;
    }

    .hide{
        display:none;
    }

   .menu-toggle{
        display:block;
   }

}