@include respond-to('small'){

    .logo h1 {
        font-size:2em;

    }

    .botones {
        margin-top:0.3em;

    }

    .navbar-light .navbar-toggler {
        position:absolute;
        z-index:1000;
        top:500;
        right:5px;
        
    }

    .imgslider{      
        height:auto;
        width:100%;

    }

    .contenido{
        margin-top:30px;

    }

    .descripcion{
        margin-top:2em;
    }

    .details{
        width:100%;
    }

    .hide{
        display:none;
    }

    .menu-toggle{
        display:block !important;
    }
}