/*----------------
-----[FOOTER]-----
----------------*/

/* Margen superior de los botones sociales */
.footer {
    margin-top:5em;
}

/* espacio botones sociales  */
.sociales{

    margin-left: 3em;

    a{
        font-size: 5em;
        margin-left: 1em;
    }

}

/* color de los botones sociales */
.facebook{
    color:#0101DF;

}

.twitter{
    color:#00BFFF;

}

.google{
    color:#CB3B3B;

}

.linkedin{
    color:#2456D4;

}

.pinterest{
    color:#C02127;
}

/* estilo copyright */

.copyright{
    margin-top:3em;

}