/*
--------
[HEADER]
--------
*/

.header{

    .logo{

        height:6em;
        font-family: $font-stack;
        margin-top:1.5em;
        margin-left:2.5em;
        
        h1{
            font-weight: 600;
            border-bottom: 0.1em solid rgba(255, 230, 0, 0.897);
            margin-bottom:0.5em;
            padding-bottom:0.5em;
            width:5.5em;
        }
    
        h3{
            color:#f8ba56c7;
    
        }
        
    }

    .menu-general{

        margin-top:3em;
        
        button {
            color:white !important;
            background-color:$color-boton;
            border:none;
            border-radius:0.4em;
            margin-right:0.3em;
            position: relative;
            top: 3em;

            &:hover{
                background-color:$color-boton-hover;

            }   
        }

        .menu-toggle{
            display:none;
        }

        #menu{
            width:100%;
        }

        #btn-more{
            margin:15px;
        }
    }

    @include respond-to("small"){
        .logo {

            h1 {
                font-size:2em;
            }
        }
    }
}



    