/*======================
=========Slider=========
=======================*/

#slider {
    overflow: hidden;
    padding: 0;
    position: relative;
}

.slider-container {
    background: linear-gradient(to right, $grey-light, $white);

    .text-container {
        margin-top: 10em;
        text-align: center;

        h2 {
            color: $grey;
            font-size: 2.4em;
            font-weight: 400;
            text-align: left;
        }

        @include respond-to("sm") {
            margin-top: 3em;

            h1 {
                font-size: 3.5em;
                margin-top: 1em;
            }

            h2 {
                font-size: 2.4em;
                padding: 1em 0 2em 0;
            }
        }


        @include respond-to("xs") {
            margin-top: 3em;

            h1 {
                font-size: 2.3em;
                margin-top: 1em;
            }

            h2 {
                font-size: 1.4em;
                padding: 1em 0 2em 0;
            }
        }
    }

    #slider-button-desktop {
        @include button(2em, null);

        margin-top: 3em;

        @include respond-to("sm") {
            @include button(2em, null);

            margin: 0;
        }


        @include respond-to("xs") {
            @include button(1.3em, null);

            margin: 0;
        }
    }

    .slider-image {
        margin-top: 13em;

        img {
            margin-top: 8em;
            width: 100%;
        }

        @include respond-to("sm") {
            margin-top: 5em;

            img {
                margin-top: 0;
            }
        }


        @include respond-to("xs") {
            margin-top: 3em;

            img {
                margin-top: 0;
            }
        }
    }

    .heading-prices {
        display: table;
        margin-bottom: 20px;
        font-size: 20px;
        padding: 20px;
        background: transparentize($black, 0.9);
        border-radius: 5px;
        color: $grey;

        @include respond-to("xs") {
            display: block;
        }


        @include respond-to("sm") {
            display: block;
        }
    }
}