/*
--------
[SLIDER]
--------
*/

/* Estilo de la caja de la imagen*/
.imgslider{
    border-radius:7px;
    box-shadow: 0em 0em 20px grey;
    width:100%;

}

/*descripcion del slider*/
.descripcion{
    margin-top:7em;

   

    }

/* estilo de los botones menu y leer mas*/
.slider-btn{
    margin-top:2em;
    background-color:$color-boton;

        &:hover{
            background-color:$color-boton-hover;
    } 
    
}

